h1 {
  color: #011746;
  text-align: center;
  font-family: Cambria;
  font-size: 50px;
  margin-top: 20px;
}
body {
  background-image: url("imagenes/mascota.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font-family: cursive;
  font-size: 15px;
  font-weight: bolder;
}
.menu {
  background-image: url("imagenes/fondo2.png");
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  transition: 0.3s;
  float: left;
}
body {
  margin-top: 60px;
}
